{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{% url 'index' %}"><img src="{% static 'logo.png' %}" alt="Movie Store"></a>
            </div>
            <div class="col-md-6">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'categories' %}">Categories</a></li>
                    <li><a href="{% url 'movie_details' %}">Movie Details</a></li>
                    <li><a href="{% url 'cart' %}">Cart</a></li>
                    <li><a href="{% url 'signin' %}">Sign In</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
