<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pay</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/pay.css' %}">
</head>
<body>
    <h2>Pay</h2>
    <div class="movies-container">
        {% for cart_item in cart_items %}
            <div class="movie-card" style="background-image: url('{{ cart_item.movie.get_poster_url }}');">
                <h3>{{ cart_item.movie.title }}</h3>
                <p>{{ cart_item.movie.runtime }} minutes</p>
                <p>Price: ${{ cart_item.movie.price }}</p>
                <p>Quantity: {{ cart_item.quantity }}</p>
                <button class="button" onclick="window.location.href='{% url 'view_cart' %}'">Back to Cart</button>
            </div>
        {% endfor %}
    </div>
    <div class="total-amount">
        <h3>Total Amount: ${{ total_amount }}</h3>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="button">Pay Now</button>
        </form>
    </div>
</body>
</html>
